<div class="opacity">
  <div class="pos-f-t">
    <!-- Modal buy product -->
    <div class="modal fade" id="buyInfo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Compra tu chuche</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h2>Pasos para la compra:</h2>
            <ul>
              <li>Cuando tengas tu pedido escribe al 04140114333 (Link WhatsApp: <a href="https://bit.ly/3e3SkYY">https://bit.ly/3e3SkYY</a>)</li>
              <li>Se aceptan pago en bolívares a partir de 5$, tenemos cuentas Mercantil, Proncincial y pago móvil (a lo que indique monitor dolar).</li>
              <li>Aceptamos pagos en dólares por Zelle y efectivo.</li>
              <li>Aceptamos euros en efectivo.</li>
              <li>Aceptamos monedas a partir de 1 (€ o $) en adelante.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
  <nav class="navbar navbar-transparent">
      <img  src="img/logo.png" class="img-fluid logo-nav levitar" alt="">
    </nav>
  <section class="full-wh full-h-to-auto first-section">

  </section>
  <a onclick="scrollHeight();" class="arrow-wrap" href="#content">
    <i class="fas fa-arrow-down"></i>
  <!--<span class="hint">scroll</span>-->
  </a>

  <section class="full-wh full-h-to-auto ">
    <div class="welcome-header container-fluid">
      <app-sliderPrincipal></app-sliderPrincipal>
    </div>
    <div class="search-form">
      <h1>Nuestro Catálogo</h1>
      <div>
        <a href="#">
          <button style="color: rgba(0, 0, 0, 0.98); background: linear-gradient(0deg, rgb(185,185,185) 0%, rgb(255, 255, 255) 100%); !important;" (click)="getPDFURL()" type='button'>
            Catalogo PDF
          </button>
        </a>
      </div>
      <form class="form-inline my-2 my-lg-0">
        <input (keyup)="filterProduct($event)" class="form-control" type="text" placeholder="Busca tu chuche"/>
      </form>
    </div>
    <div class="category-filter">
      <div *ngFor="let categoria of categorias">
        <a href="#container-products"><button (click)="filterTag(categoria.nombre)" type ="button">
          {{categoria.nombre | uppercase }}
        </button></a>
      </div>
      <a href="#container-products"><button (click)="filterTag('todo')" type="button">
        TODO
      </button></a>
    </div>
    <div class="second-section">
      <div *ngIf="filterProducts == undefined">
        <app-producto [productos]="productos"></app-producto>
      </div>
      <div *ngIf="filterProducts != undefined">
        <app-producto [productos]="filterProducts"></app-producto>
      </div>
    </div>
  </section>


  <app-footer></app-footer>



</div>
