.principal {
    font-size: 60px;
}

.img-principal {
    position: absolute;
    max-width: 605px;
    top: -85px;
    left: 396px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 50%;
}

.principal-product {
    background: radial-gradient(
      circle,
      rgba(0, 0, 0, 0) 54%,
      rgba(0, 0, 0, 0.22452731092436973) 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 700px;
}

.principal-card {
    padding: 10px;
  }
  
  .card-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }
  
  .card-1:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  }
  
  .principal-card h1 {
    color: black;
    background: #ffffff;
    text-align: left;
    font-size: 53px;
    max-width: 428px;
    font-family: "Anton", sans-serif;
    overflow: hidden;
    text-shadow: 0px 1px 2px #1d1d1d;
    border-radius: 25px;
    padding: 10px;
  }
  .principal-card h2 {
    text-align: left;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: 0.2em;
    font-family: "Roboto", sans-serif;
    overflow: hidden;
    font-weight: 400;
    text-transform: uppercase;
    text-shadow: 0px 1px 2px #1d1d1d4a;
  }
  
  .principal-card h3 {
    font-size: 4rem;
    color: black;
    background: #ffffff;
    border-radius: 25px;
    padding: 10px;
  }
  
  .principal-card h4 {
    font-size: 12px;
    color: white;
  }
  
  .principal-card p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 15px;
    width: 300px;
    color: white;
  }
  
  .principal-card button {
    display: inline-block;
    height: 62px;
    width: 215px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 25px;
    font-family: "anton", sans-serif;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #ffffff;
    background: linear-gradient(0deg, rgb(50, 255, 95) 0%, rgb(87, 251, 99) 100%);
    cursor: pointer;
    outline: none;
    margin-bottom: 0px;
  }
  .arrow-wrap {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 74em;
    margin-left: -5em;
    background: #1110;
    width: 10em;
    height: 10em;
    padding: 4em 2em;
    border-radius: 50%;
    font-size: 0.5em;
    text-align: center;
    display: block;
  }
  
  .arrow-wrap i {
    font-size: 40px;
  }
  
  .arrow {
    float: left;
    position: relative;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #ffffff transparent transparent transparent;
    -webkit-transform: rotate(360deg);
  }
  
  .arrow:after {
    content: "";
    position: absolute;
    top: -3.2em;
    left: -3em;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 3em 3em 0 3em;
    border-color: #111 transparent transparent transparent;
    -webkit-transform: rotate(360deg);
  }