.full-wh {
    height: auto;
    min-height: 100vh;
    width: 100vw;
    max-width: 100vw;
  
    overflow: hidden;
  }

  .first-section {
    /* background-image: url("../assets/img/fondo.jpg"); */
    background-color: #ff799a;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    background-size: cover;
    z-index: -99;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .first-section img {
    width: 100vw;
  }

  .first-section img {
    width: 100vw;
  }
  @media (max-width: 992px) {
    .first-section {
      background-image: url("../assets/img/fondoR.jpg");
      width: 100vw;
      height: 100vh;
      display: flex;
      position: fixed;
      z-index: -99;
      background-size: cover;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }

    .arrow-wrap {
      position: absolute;
      z-index: 1;
      left: 83%;
      top: 195em;
      margin-left: -5em;
      background: #fff0;
      width: 20em;
      height: 20em;
      padding: 4em 2em;
      border-radius: 50%;
      font-size: 0.5em;
      display: block;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .arrow-wrap i {
      font-size: 70px;
      color: black;
    }
    .full-h-to-auto {
      height: auto;
    }
    .full-wh {
      overflow: hidden !important;
    }
  }