<section class="full-wh full-h-to-auto first-section">

  <div class="modal-dialog text-center">
    <div class="col-md-12 main-section">

      <div class="alert alert-success" *ngIf="status == 'success'">
        Has iniciado sesion correctamente
      </div>
      <div class="alert alert-danger" *ngIf="status == 'error'">
        Usuario o Clave no valida
      </div>
      <div class="modal-content">

        <div class="col-12 user-img">
          <img src="../../../assets/img/logo.png" alt="">
        </div>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="col-12">
          <div class="form-group" id="user-group">
            <input type="email" name="email" #email="ngModel" [(ngModel)]="user.email"
            placeholder="Email address" class="form-control" required /><i class="fas fa-user"></i>

          </div>
          <div class="form-group" id="contrasena-group">
            <input
              type="password"
              name="password"
              #password="ngModel"
              placeholder="Password"
              [(ngModel)]="user.password"
              class="form-control"
              required
              ><i class="fas fa-lock"></i>
          </div>
          <div>
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!loginForm.form.valid"
            >
            <i class="fas fa-sign-in-alt"></i>  Iniciar Sesion
            </button>

          </div>
        </form>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</section>
